@{
}

<header>
    <h1>🎬بد فیلم</h1>
    <p>شما به تراپی نیازی ندارید، به یک فیلم بد نیاز دارید</p>
</header>

<nav>
    <button class="menu-toggle" onclick="toggleMenu()">☰ منو</button>

    <div class="nav-container">

        <div class="nav-links">
            <a href="">صفحه اصلی</a>
            <a href="/Movies.html">فیلم‌ها</a>
            <a href="">خرید اشتراک</a>
            <a href="">تماس با ما</a>
        </div>

        <div class="search-box">

            <input type="text" placeholder="جستجوی فیلم...">

            <button type="submit">جستجو</button>

        </div>

        <div class="auth-buttons">
            <a asp-controller="Auth" asp-action="Register">ثبت نام/ورود</a>
        </div>

    </div>
</nav>